.pageNotFound {
    height: 700px;
    padding-top: 160px;
    .contentWrapper {
        color: white;
        display: flex;
        flex-direction: column;
        .bigText {
            font-size: 50px;
            font-weight: 700;
        }
        .smallText {
            font-size: 20px;
			padding-top: 20px;
        }
    }
}
