.aboutPage {
    padding-top: 160px;
	padding-bottom: 160px;
    .contentWrapper {
        color: white;
        display: flex;
        flex-direction: column;
        .aboutTitle {
            font-size: 50px;
            font-weight: 700;
        }
        .aboutSubText {
            font-size: 18px;
			padding-top: 20px;
			line-height: 30px;
        }
    }
}
