#episodes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
	margin-bottom: 25px;
}

.epHeading{
	font-size: 24px;
	color: white;
	margin-bottom: 25px;
}

#seasons-dropdown-container{
	margin-bottom: 25px;
}

.minutes-info{
	color: #a3a3a3;
	margin-top: 15px;
}

.episode {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 20px);
    margin-bottom: 15px;
	cursor: pointer;

    img {
        width: 100%;
        height: auto;
    }

    &-info {
        padding: 15px;
        display: flex;
        justify-content: space-between;
    }

    &-description {
        padding: 0 15px 15px 15px;
        font-size: 14px;
		color: #a3a3a3;
    }
}

@media (max-width: 768px) {
    .episode {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .episode {
        width: 100%;
    }
}
