#episodes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
	margin-bottom: 25px;
}

.epHeading{
	font-size: 24px;
	color: white;
	margin-bottom: 25px;
}

#seasons-dropdown-container{
	margin-bottom: 25px;
}

.episode-time-title{
	display: grid;
    grid-template-columns: 90% 10%;
}

.ep-title{
	color: white;
}

.minutes-info{
	color: #a3a3a3;
}

#seasons-dropdown{
	background: #04152d;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    outline-offset: 3px;
    padding: 7px 30px 7px 0;
	border: none;
}

.episode {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 20px);
    margin-bottom: 15px;
	cursor: pointer;
	box-shadow: 0px 2px 5px rgb(167 164 164 / 10%);

    img {
        width: 100%;
        height: auto;
    }

    &-info {
        padding: 15px;
    }

    &-description {
        padding: 0 15px 15px 15px;
        font-size: 14px;
		color: #a3a3a3;
    }
}

@media (max-width: 768px) {
    .episode {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .episode {
        width: 100%;
    }
}
