.videoPlayer {
    padding-top: 100px;
	padding-bottom: 100px;
    .contentWrapper {
        text-align: center;
        color: var(--black-light);
    }

    .videoWrapper {
        position: relative;
        width: 100%;
        padding-top: 56.25%; /* Aspect ratio: 16:9 (9 / 16 * 100) */
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
	
	.gobackcontent {
		display: flex;
        position: relative;
        flex-direction: column;
        gap: 25px;
		padding-bottom: 20px;
        @include md {
            gap: 50px;
            flex-direction: row;
        }
	}

	.goback {
		color: #D5D5D5; 
		font-size: 20px; 
		cursor: pointer;
		margin-bottom: 10px; 
		transition: color 0.3s; 
		width: fit-content;
		height: fit-content;

		&:hover {
		  color: pink; 
		}
		&:active {
			color: pink;
		}
	}
}
