@import "../../mixins.scss";
.videoPlayer {
    padding-top: 90px;
	padding-bottom: 100px;
    .contentWrapper {
        color: var(--black-light);
    }

    .videoWrapper {
        position: relative;
        width: 100%;
        height: 70vh;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
	
	.videogoback {
		display: flex;
        position: relative;
        flex-direction: column;
        gap: 25px;
		padding-bottom: 20px;
        @include md {
            gap: 50px;
            flex-direction: row;
        }
	}
	
	.playtitle {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 20px;
		color: white;
		font-size: 25px;
		@include md {
			font-size: 25px;
		}
	}
	

	.gbackbutton {
		color: #D5D5D5; 
		font-size: 20px; 
		cursor: pointer;
		margin-bottom: 10px; 
		transition: color 0.3s; 
		width: fit-content;
		height: fit-content;

		&:hover {
		  color: pink; 
		}
		&:active {
			color: pink;
		}
	}
}
