:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	font-weight: 500;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--black: #000000;
	--black2: #041226;
	--black3: #020c1b;
	--black-lighter: #1c4b91;
	--black-light: #173d77;
	--pink: #da2f68;
	--orange: #f89e00;
	--gradient: linear-gradient(98.37deg, #83C0C1 0.99%, #6C22A6 100%);
	
	-webkit-touch-callout: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
}

// ::-webkit-scrollbar {
//      display: none;
// }

.skeleton {
    position: relative;
    overflow: hidden;
    background-color: #333;
    border-radius: 8px;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0,
            rgba(255, 255, 255, 0.1) 20%,
            rgba(255, 255, 255, 0.3) 60%,
            rgba(255, 255, 255, 0)
        );
        animation: shimmer 1.5s infinite;
        content: "";
    }

    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}
